/*-----------------------*/
/*BASIC SETUP*/
/*-----------------------*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #8cd9e0;
    color: #4a4a4a;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: center;
}

img, embed, object, video {
    max-width: 100%
}

/*-----------------------*/
/*REUSABLE COMPONENTS*/
/*-----------------------*/


/*---------HEADER SECTION----------*/

h1 {
    margin: 30px auto;
    color: #d68c01;
}

h3 {
    margin: 0 auto 15px;
}

/*---------MAIN SECTION------------*/

#cats {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

.catImage {
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.counter {
    display: inline-block;
    width: 40px;
    padding: 15px;
    background-color: #fff;
    border: 2px solid #4a4a4a;
    border-radius: 15px;
    text-align: center;
}

/*---------FOOTER SECTION----------*/